*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	
	font-family: "Grandstander", cursive;
	background: url(contact.jpg);
		background-size: cover;	

}

.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.6);

 
}

.contact .content{
	max-width: 800px;
	text-align: center;
}

.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: orange;
}

.contact .content p{
	font-weight: 300;
	color: white;
}

.container1{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.container1 .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.container1 .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}

.container1 .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.container1 .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: white;
	flex-direction: column;
	font-weight: 300;
}

.container1 .contactInfo .box .text h3{
	font-weight: 500;
	color: orange;

}

.contactForm{
	width: 40%;
	padding: 40px;
	background: rgba(0,0,0,0.8);
}

.contactForm h2{
	font-size: 30px;
	color: orange;
	font-weight: 500;
}

.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
	width: 100%;
	box-sizing: border-box;
	background:rgba(0,0,0,0.1);
	padding: 5px 0;
	font-size: 16px;
	margin:10px 0;
	border: none;
	color: white;
	border-bottom: 2px solid orange;
	border-radius: 5px;
	outline: none;
	resize: none;
}

.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin:10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #333;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
	color: orange;
	font-size: 12px;
	transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
	width: 100px;
	background-color: orange;
	color: white;
	border: none;
	border-radius:100px;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	transition: all 0.3s;
	background-color: orange;
  	color: white;
}
.contactForm .inputBox input[type="submit"]:hover{
 	background-color: white;
  	color: orange;
}


@media (max-width: 991px){
	.contact{
		padding: 50px;
	}
	.container1{
		flex-direction: column;
	}

	.container1 .contactInfo{
		margin-bottom: 40px;
	}

	.container1 .contactInfo,
		.contactForm
	{
		width: 100%;
	}
}
/*-----------Nav Bar---------------*/

nav a:hover {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 6px 0;
}
.wel{
	color:white; 
	font-size:24px; 
	justify-content: flex-start; 
	position: fixed;
  	left: 0; 
  	padding-left: 35px ;
}
.wel .fas{
	font-size: 30px;
	color: orange;
	margin-right:20px;
}
/*-----------End of Navbar--------*/

/*----------Footer--------------*/
.footer {
  padding-bottom: 1px;
  background: #000;
  text-align: center;
}
.footer .text {
  padding-top: 17px;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
}
/*--------End of Footer---------*/
@media screen and (max-width: 972px)
{
	.wel{
		font-size:20px;
		padding-left:30px;
	}

	.wel .fas{
	font-size: 25px;
	color: orange;
	margin-right:17px;
}

@media screen and (max-width: 576px)
{
	.wel{
		font-size:15px;
		padding-left:15px;
	}
	.wel .fas{
	font-size: 15px;
	color: orange;
	margin-right:10px;
}