body{
	font-family: 'Grandstander', cursive;
	line-height: 1.5;
	background-size: cover;
	background-image: url('iina.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}


.wrap{
	max-width:400px;
	border-radius:20px;
	margin:auto;
	background:rgba(0,0,0,.9);
	box-sizing:border-box;
	padding:40px;
	color:orange;
	margin-top:60px;
	margin-bottom: 20px;
}

h2{
	text-align: center;
}

input[type="text"], input[type="password"]{
	width:100%;
	box-sizing: border-box;
	padding:12px 10px;
	background:rgba(0,0,0,0.1);
	outline:none;
	border:none;
	border-bottom:1px solid orange;
	color:#fff;
	border-radius: 5px;
	margin: 10px;
	font-family: 'Grandstander', cursive;
}

input[type="submit"]{
	width:100%;
	box-sizing:border-box;
	padding:10px;
	margin-top:30px;
	outline:none;
	border:none;
	background:orange;
	opacity:.7;
	border-radius:20px;
	color:#fff;
	font-family: 'Grandstander', cursive;
	line-height: 1.5;
	font-size: 20px;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: white;
  color: orange;
  transform: scale(1.03);
}

/*-------Nav Bar---------------*/

nav a:hover {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 6px 0; 
}


/*-------End of Navbar--------*/

/*----------Footer--------------*/
.footer{
	background: #000;
	text-align: center;
	padding-bottom: 1px;
}
.footer .text{
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	padding-top: 17px;
	
}
/*--------End of Footer---------*/